In [ ]:
1.  다음과 같은 배열을 만들어라.
array([[   0.,    0.,    0.,    1.,    1.],
       [   0.,    0.,    0.,    1.,    1.],
       [   0.,    0.,    0.,    1.,    1.],
       [  10.,   20.,   30.,   40.,   50.],
       [  60.,   70.,   80.,   90.,  100.],
       [ 110.,  120.,  130.,  140.,  150.],
       [   0.,    0.,    0.,    1.,    1.],
       [   0.,    0.,    0.,    1.,    1.],
       [   0.,    0.,    0.,    1.,    1.],
       [  10.,   20.,   30.,   40.,   50.],
       [  60.,   70.,   80.,   90.,  100.],
       [ 110.,  120.,  130.,  140.,  150.]])

In [119]:
import numpy as np
import pandas as pd

In [120]:
arr1 = np.array([[0, 0, 0, 1, 1],
                [0, 0, 0, 1, 1],
                [0, 0, 0, 1, 1]])
arr2 = np.array([[10, 20, 30, 40, 50],
                [60, 70, 80, 90, 100],
                [110, 120, 130, 140, 150]])

arr3 = np.vstack([arr1, arr2])

np.tile(arr3, (2, 1))

array([[  0,   0,   0,   1,   1],
       [  0,   0,   0,   1,   1],
       [  0,   0,   0,   1,   1],
       [ 10,  20,  30,  40,  50],
       [ 60,  70,  80,  90, 100],
       [110, 120, 130, 140, 150],
       [  0,   0,   0,   1,   1],
       [  0,   0,   0,   1,   1],
       [  0,   0,   0,   1,   1],
       [ 10,  20,  30,  40,  50],
       [ 60,  70,  80,  90, 100],
       [110, 120, 130, 140, 150]])

In [ ]:
2.  다중 인덱스 참조 연습
Cidx1	A	              B
Cidx2	C1	C2	C1	C2
0	1.76	0.40	0.98	2.24
1	1.87	-0.98	0.95	-0.15
2	-0.10	0.41	0.14	1.45
3	0.76	0.12	0.44	0.33
4	1.49	-0.21	0.31	-0.85

- 위와 같은 구조의 데이터프레임을 제작하시오.
- B, C1 참조하시오.
- 0번 행,  B,C1  값을 참조하시오.
- 0번행 B, C1 값을 100으로 변경하시오

In [28]:
myArr = np.round(np.random.randn(5, 4), 2)
df = pd.DataFrame(myArr,
            columns = [['A', 'A', 'B', 'B'],
                       ['C1', 'C2', 'C1', 'C2']])
df.columns.names = ['Cidx1', 'Cidx2']
df

Cidx1     A           B
Cidx2    C1    C2    C1    C2
0     -0.32 -1.08  0.27  0.85
1     -0.22  0.90 -1.05 -1.46
2      0.22  0.61  0.19  0.58
3     -0.21 -1.58 -0.91 -0.99
4      0.73  1.34 -0.74 -0.43

In [29]:
df['B', 'C1'] # df.B.C1

0    0.27
1   -1.05
2    0.19
3   -0.91
4   -0.74
Name: (B, C1), dtype: float64

In [30]:
df.loc[0]['B', 'C1'] # df.loc[0].B.C1

0.27

In [31]:
df.loc[0]['B', 'C1'] = 100    # df.loc[0].B.C1 = 100
df

Cidx1     A             B
Cidx2    C1    C2      C1    C2
0     -0.32 -1.08  100.00  0.85
1     -0.22  0.90   -1.05 -1.46
2      0.22  0.61    0.19  0.58
3     -0.21 -1.58   -0.91 -0.99
4      0.73  1.34   -0.74 -0.43

In [ ]:
3. 연관규칙 연습 데이터셋

dataset =
1         계란, 우유
2         계란, 기저귀, 맥주, 사과
3         우유, 기저귀, 맥주, 콜라
4         계란, 우유, 맥주, 기저귀 
5         계란, 우유, 맥주, 콜라
위 데이터를 저장하고, 

X={계란, 맥주}, Y={기저귀} 인 경우에 대해
1) 지지도 계산

2) 신뢰도 계산

3) 향상도 계산

In [104]:
dataset = {1 : ['계란', '우유'],
           2 : ['계란', '기저귀', '맥주', '사과'],
           3 : ['우유', '기저귀', '맥주', '콜라'],
           4 : ['계란', '우유', '맥주', '기저귀'],
           5 : ['계란', '우유', '맥주', '콜라']}

X = {'계란', '맥주'}
Y = {'기저귀'}

In [115]:
def count(data, dataset) :
    count = 0
    for key, value in dataset.items() :
        count_sub = 0
        for i in range(len(data)) :
            if data[i] in list(set(value)) : # set로 반복 제거
                count_sub += 1
        if count_sub == len(data) :
            count += 1
    return count

In [116]:
# 1) 지지도 계산

s_X_Y = count(list(X|Y), dataset) / len(dataset)
s_X_Y

0.4

In [117]:
# 2) 신뢰도 계산

c_X_Y = count(list(X|Y), dataset) / count(list(X), dataset)
c_X_Y

0.6666666666666666

In [118]:
# 3) 향상도 계산

Lift_X_Y = c_X_Y / (count(list(Y), dataset) / len(dataset))
Lift_X_Y

1.1111111111111112

In [153]:
dataframe = pd.DataFrame(pd.Series(dataset))
dataframe

                   0
1           [계란, 우유]
2  [계란, 기저귀, 맥주, 사과]
3  [우유, 기저귀, 맥주, 콜라]
4  [계란, 우유, 맥주, 기저귀]
5   [계란, 우유, 맥주, 콜라]

In [150]:
def count2(data, dataframe) :
    count = 0
    for i in dataframe[0] :
        count_sub = 0
        for j in range(len(data)) :
            if data[j] in list(set(i)) :
                count_sub += 1
        if count_sub == len(data) :
            count += 1
    return count

In [154]:
# 1) 지지도 계산

s_X_Y2 = count2(list(X|Y), dataframe) / len(dataframe)
s_X_Y2

0.4

In [155]:
# 2) 신뢰도 계산

c_X_Y2 = count2(list(X|Y), dataframe) / count2(list(X), dataframe)
c_X_Y2

0.6666666666666666

In [156]:
# 3) 향상도 계산

Lift_X_Y2 = c_X_Y2 / (count2(list(Y), dataframe) / len(dataframe))
Lift_X_Y2

1.1111111111111112